* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  color: inherit;
  line-height: 1.3;
  text-decoration: none;
}

.bold {
  font-weight: bold;
}

.underline {
  text-decoration: underline;
}

.font-os {
  font-family: 'Open Sans', sans-serif;
}

.font-ssp {
  font-family: 'Source Sans Pro',
    sans-serif;
}


.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

body {
  background: #F7F7F7;
}

header {
  box-shadow: 0px 3px 6px #00000029;
  padding: 16px 32px;
  background: white;
  position: relative;
  z-index: 2;
}

header .logo {
  float: left;
}

header .logo img {
  height: 32px;
  display: block;
}

header .info {
  text-align: center;
  margin-right: 16px;
  color: #727272;
}

header .account {
  float: right
}

header .username {
  font-size: 14px;
}

header .company {
  font-size: 10px;
}

header .profile>*,
header .account>* {
  float: left;
}

header .profpict {
  width: 32px;
  margin-right: 16px;
}

header .logout img {
  width: 15px;
  margin-top: 8px;
}

nav {
  background: white;
  top: 0;
  left: 0;
  width: 72px;
  position: absolute;
  padding-top: 64px;
  border-right: 1px solid #e4dcdc;
  height: 100%;
  text-align: center;
  z-index: 1;
}

nav a {
  display: block;
  width: 100%;
}

.menu {
  margin: 24px auto 16px auto;
}

.menu .container {
  display: inline-block;
  cursor: pointer;
}

.menu .bar1,
.menu .bar2,
.menu .bar3 {
  width: 24px;
  height: 3px;
  background-color: #c5c5c5;
  margin-bottom: 6px;
  transition: 0.4s;
}

.menu .bar3 {
  width: 16px;
  margin-bottom: 0px;
}

nav .link {
  padding: 16px 0;
}

nav .link.active {
  background-color: #D2D2D2
}

.content {
  padding: 32px 32px 32px 96px;
}

.content h2 {
  color: #707070;
  float: left;
  font-size: 40px;
}

.period {
  float: right;
  color: #8B8B8B;
  box-shadow: 0px 2px 3px #00000029;
  border-radius: 2px;
  padding: 13px 16px;
  background-color: white;
  font-size: 16px;
}

.period>* {
  display: inline-block;
  vertical-align: middle;
}

.period .arrow-down {
  height: 10px;
  width: 10px;
  border-style: solid;
  border-color: #757575;
  border-width: 0px 2px 2px 0px;
  transform: rotate(45deg);
  margin-top: -4px;
}

.period .interval {
  color: #6A6A6A;
}

.period img {
  margin-right: 16px;
}

.period .interval {
  margin: 0 16px 0 24px;
}

.subtitle {
  background-color: #37B04C;
  padding: 12px 16px;
  color: white;
  margin: 32px 0 16px 0;
}

.subtitle h3 {
  float: left;
  font-size: 20px;
}

.click-here {
  float: right;
  font-size: 14px;
}

.click-here>* {
  display: inline-block;
  vertical-align: middle;
}

.click-here img {
  margin-right: 4px;
}

.click-here .arrow-up {
  height: 10px;
  width: 10px;
  border-style: solid;
  border-color: white;
  ;
  border-width: 2px 0px 0px 2px;
  transform: rotate(45deg);
  margin-top: 4px;
  margin-left: 16px;
}

.card>div {
  width: 276px;
  float: left;
  padding: 16px;
  background: white;
  position: relative;
  border: 1px solid #e4dcdc;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.card .title {
  color: #8B8B8B;
  float: left;
  font-size: 14px;
}

.card .dot {
  float: right;
}

.card .red {
  color: #ff4141;
  font-size: 14px;
}

.card .total {
  color: black;
  letter-spacing: 1px;
  font-size: 24px;
}

.card .desc {
  color: #888888;
  font-size: 10px;
}

.card .number {
  margin-top: 8px;
  display: inline-block;
  margin-right: 8px;

}

.card .number img,
.card .number span {
  display: inline-block;
  vertical-align: middle;
}

.wrapper {
  width: 1224px;
  margin: 0 auto;
}

.card-format {
  margin: 16px 0;
}

.card-format>div {
  min-height: 424px;
  margin-right: 16px;
  background: white;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  float: left;
  padding: 16px;
}

.card-format .big {
  width: calc(50% - 16px);

}

.card-format .small {
  width: calc(((50% - 16px) / 2));
}

.card-format>div>.title {
  color: #4D4F5C;
  font-size: 20px;
  float: left;
}

.card-format .dot {
  float: right;
}

.card-format>div:last-child {
  margin-right: 0px;
}
.card-format .big .interval {
  font-size: 14px;
  float:right;
  margin-right: 9px;
  color:#D2D2D2;
}
.data-graph {
  width: 100%;
  height: 340px;
  margin-top: 24px;
}
.product-list {
  margin-top: 16px;
}

.product-list .product .image {
  height: 60px;
  width: 60px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  float: left;
  margin-right: 8px;
}

.product-list .desc {
  float: left;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.product-list .product {
  height: 60px;
  border-radius: 4px;
  border: 1px solid #e4dcdc;
  overflow: hidden;
  position: relative;
  margin-bottom: 8px;
}

.product-list .product:last-child {
  margin-bottom: 0px;
}

.product-list .product .title {
  font-size: 16px;
  color: #000000;
}

.product-list .product span {
  font-size: 12px;
  color: #888888
}

.product-list .product:first-child {
  height: 80px;
  background: #FFE7BD
}

.product-list .product:first-child .title {
  font-size: 20px;
}

.product-list .product:first-child span {
  font-size: 14px;
}

.product-list .product:first-child .image {
  height: 80px;
  width: 80px;
}


@media only screen and (max-width: 1024px) {
  header {
    padding: 8px;
  }

  header .logo img {
    height: 20px;
  }

  header .info {
    margin-right: 8px;
  }

  header .username {
    font-size: 12px;
  }

  header .company {
    font-size: 9px;
  }

  header .profile>*,
  header .account>* {
    float: left;
  }

  header .profpict {
    width: 20px;
    margin-right: 8px;
  }

  header .logout img {
    width: 15px;
    margin-top: 4px;
  }

  nav {
    width: 100%;
    padding-top: 42px;
    border-right: 1px solid #e4dcdc;
    height: auto;
    text-align: left;
  }

  nav a {
    width: 48px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
  }

  .menu {
    margin: 12px 8px 12px 0;
  }

  nav .link {
    padding: 12px 0;
  }

  .content {
    padding: 8px;
    margin-top: 56px;
  }

  .content h2 {
    font-size: 24px;
    float: none;
    text-align: center;
    margin-bottom: 8px;
  }

  .period {
    display: table;
    float: none;
    padding: 8px;
    font-size: 14px;
    margin: 0 auto;
  }

  .period img {
    margin-right: 4px;
    width: 14px;
  }

  .period .interval {
    margin: 0 6px ;
  }

  .subtitle {
    color: white;
    margin: 16px 0;
    padding: 8px;
  }

  .subtitle h3 {
    font-size: 18px;
  }

  .click-here .arrow-up {
    margin-left: 8px;
  }


  .wrapper {
    width: 100%;
  }

  .card {
    text-align: center;
  }

  .card>div {
    float: none;
    display: inline-block;
  }

  .card-format {
    margin: 8px 0;
    text-align: center;
  }

  .card-format>div {
    min-height: 424px;
    margin: 8px auto;
    float: none;
    padding: 8px;

  }

  .card-format .big {
    width: 100%;
    max-width: 320px;

  }

  .card-format .small {
    width: 100%;
    max-width: 320px;
  }

  .card-format>div:last-child {
    margin-right: auto;
  }

}

/* 
datepicker styling

*/
.daterangepicker {
  font-family: 'Open Sans', sans-serif;
}
.daterangepicker td.active, .daterangepicker td.active:hover,.daterangepicker td.in-range {
  background-color: #d5ecd9;
  border-color: transparent;
  color: #34a548;
  font-weight: bold;
  border-radius: 50%;
}
.daterangepicker td.start-date,.daterangepicker td.end-date {
  border-radius: 50%;
}
.daterangepicker .calendar-table th, .daterangepicker .calendar-table td {
  height: 32px;
}
.daterangepicker .ranges li.active {
  background-color: #d5ecd9;
  color: #34a548;
}
.cancelBtn {
  display: none;
}
.daterangepicker.show-calendar .drp-buttons {
  display: none;
}
.ranges li {
  border-bottom: 1px solid #c5c5c5;
  margin:0 10px;
}
.apply-modif{
  background-color: #37B04C;
  padding: 8px 24px;
  border-radius:4px;
  color: white;
  display: table;
  margin: 8px auto;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  cursor: pointer;
}